* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin: 20px 0;
    color: #e97132;
}