* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegation {
    display: flex;
    flex-direction: column;
}

.audios {
    display: flex;
}

audio {
    width: 30%;
    height: 40px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}