* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion-button {
    width: 100%;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
}

#ulDesafios li {
    margin-bottom: 10px;
}

.accordion-button.collapsed .icon {
    transform: rotate(-180deg);
    transition: 0.3s ease-in;
}

.accordion-button .icon {
    transition: 0.3s ease-in;
}